.checkbox {
  display: flex;
  flex-flow: row wrap;
  align-content: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.form-check {
  width: 150px;
  margin-right: 2px
}
.form-check:nth-child(3n) {
  page-break-after: always;
}