* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color:#555;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.icon__small {
	display: inline-block;
	line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}